@model IEnumerable<NTEcommerce.SharedDataModel.Category.CategoryModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
     @foreach (var item in Model)
    {
        <div>@item.Name</div>
    } 
</div>
